<p>
  <strong>Image:</strong>
  <%= image_tag @product.image_url %>
</p>

<p>
  <strong>Name:</strong>
  <%= @product.name %>
</p>

<p>
  <strong>Code:</strong>
  <%= @product.code %>
</p>

<p>
  <strong>Sell price:</strong>
  <%= @product.sell_price %>
</p>

<p>
  <strong>Buy price:</strong>
  <%= @product.buy_price %>
</p>

<p>
  <strong>Client taxes percentage:</strong>
  <%= @product.client_taxes_percentage %>
</p>

<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>

<p>
  <strong>Provider:</strong>
  <%= @product.provider.name %>
</p>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
